.header {
  background-image: url("../../assets/img/Header.jpg"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  height: 400px; /* Ajusta la altura según lo necesites */
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
